// // Required Core Stylesheet
// @import "node_modules/@glidejs/glide/src/assets/sass/glide.core";

// // Optional Theme Stylesheet
// @import "node_modules/@glidejs/glide/src/assets/sass/glide.theme";


@use 'hexa.scss';

:root {
    --primary-bg-color: #000000;
    --secondary-bg-color: #333333;
    --primary-fg-color: white;
    --accent-fg-color: cyan;
    --accent-bg-color: purple;

}

html {
    height: 100%;
}

body {

    height: 100%;

    margin: 0;
    padding: 0;

    font-family: "Twemoji Country Flags", "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;

    background-color: darkslategray;
    background: url("../img/bg.jpg");
    background-repeat: repeat;
    color: var(--primary-fg-color);

    overflow-x: hidden;
}

#background-mask {
    position: absolute;
    /* z-index: -1; */
    width: 100%;
    height: 100%;
    min-height: 100%;
    left: 0;
    top: 0;
    /* background-color: linear-gradient(black, #00000000); */
    background: linear-gradient(black, transparent);
}


label,
a {
    cursor: pointer;
    user-select: none;
    text-decoration: none;
    display: inline-block;
    color: inherit;
    transition: border 0.2s;
    border-bottom: 5px solid rgba(#8e44ad, 0.2);
    padding: 3px 2px;

    &:hover {
        border-bottom-color: #9b59b6;
    }
}

.layout {
    position: relative;
    display: grid;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    grid-template-rows: 50px 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

input[type="radio"] {
    display: none;
}

.nav-icon {
    font-family: "Material Symbols Outlined"
}

label.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-bottom: 2px solid #67bfdd;
    background: var(--accent-bg-color);
    user-select: none;
    color: var(--accent-fg-color);
    transition: background 0.4s, padding-left 0.2s;
    padding-left: 0;

    input[type="radio"]:checked+.page+& {
        background: #545f75;
        color: #ffffff;
        padding-left: 20px;

        span {
            padding-left: 20px
        }

        .nav-icon {
            opacity: 1;
        }
    }

    span {
        padding-left: 0px;
        position: relative;
    }

    .nav-icon {
        // left: 0;
        // top: -3px;
        // position: absolute;
        // width: 15px;
        opacity: 0;
        transition: opacity 0.2s;
    }
}

.page {
    grid-column-start: 1;
    grid-row-start: 2;
    grid-column-end: span 4;
    padding: 0px 20px;
    display: flex;
    align-items: start;
}

.page-contents>* {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.2s, transform 0.2s;

    @for $c from 1 through 20 {
        &:nth-child(#{$c}) {
            transition-delay: 0.2s + ($c * 0.2s);
        }
    }
}

input[type="radio"]+.page {
    transition: transform 0.2s;
    transform: translateX(100%);
}

input[type="radio"]:checked+.page {
    transform: translateX(0%);

    .page-contents>* {
        opacity: 1;
        transform: translateY(0px);
    }
}

.page-contents {
    max-width: 100%;
    width: 500px;
    margin: 0 auto;
    padding: 16px 4em;
    background-color: black;
    mask-image: linear-gradient(90deg, transparent, black 10%, black 90%, transparent);
}

#page-portfolio {
    width: 90%;


}

#filters {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2px;
}

.icon-header {}

.language-timeline {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-bottom: 40px;
}

.language-timeline div {
    background-color: red;
    background: linear-gradient(90deg, red, green, blue, red);
    flex-grow: 1;
    height: 12px;
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.language-name,
.language-rating {
    text-align: center;
}

.language-rating {
    font-family: "Material Symbols Outlined";
    color: gray;
}

.language-rating-set {
    color: yellow;
}

.language-timeline-start,
.language-timeline-end {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 20px;
    transform: translateX(-50%);
}

#skills-entries li {
    list-style-type: none;
    display: grid;
    grid-template-columns: 2em 1fr 100px auto;
    grid-template-rows: 1fr;
    align-items: center;
    gap: 2px;
    margin: 1px 0;
}

.skill-icon {
    font-size: 1.5em;
}

.skill-label {
    flex-grow: 1;
}

.skill-rating {
    // font-family: "Material Symbols Outlined";
    // font-size: 24px;
    color: yellow;
}

.skill-rating-empty {
    color: grey;
}

#history-page {
    display: flex;
    align-items: center;
}

#history-content {
    background: green;
    mask:
        linear-gradient(to bottom, black, transparent) bottom / 100% 51%,
        linear-gradient(to top, red, transparent) top / 100% 51%;
    mask-repeat: no-repeat;

    // mask:
    //     linear-gradient(to top, transparent, #fff) top / 100% 20%,
    //     linear-gradient(to bottom, transparent, #fff) bottom/100% 20%,
    //     linear-gradient(to left, transparent, #fff) left /20% 100%,
    //     linear-gradient(to right, transparent, #fff) right /20% 100%;
    // mask-repeat: no-repeat;
}

#history-gradient {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-self: stretch;
    gap: 2px;
}

#history-gradient div {
    width: 16px;
    background: linear-gradient(0deg, red, green, red);
    flex-grow: 1;
}

.history-job:hover {
    background: rgb(66, 70, 86);
}

.job-years {
    margin-right: 4px;
}

.job-years:after {
    content: ':';
}

.tab-selector {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-bottom: 2px solid #67bfdd;
    background: var(--accent-bg-color);
    user-select: none;
    color: var(--accent-fg-color);
    transition: background 0.4s, padding-left 0.2s;
    padding-left: 0;

    input[type="radio"]:checked+.page+& {
        background: #545f75;
        color: #ffffff;
        padding-left: 20px;

        span {
            padding-left: 20px
        }

        .nav-icon {
            opacity: 1;
        }
    }

    span {
        padding-left: 0px;
        position: relative;
    }

    .nav-icon {
        // left: 0;
        // top: -3px;
        // position: absolute;
        // width: 15px;
        opacity: 0;
        transition: opacity 0.2s;
    }
}


