// // Required Core Stylesheet
// @import "node_modules/@glidejs/glide/src/assets/sass/glide.core";

// // Optional Theme Stylesheet
// @import "node_modules/@glidejs/glide/src/assets/sass/glide.theme";


@use 'hexa.scss';

:root {
    --primary-bg-color: #000000;
    --secondary-bg-color: #333333;
    --primary-fg-color: white;
    --accent-fg-color: cyan;
    --accent-bg-color: purple;
    --accent-fg-disabled-color: gray;

    --tab-bg: #333333;
    --tab-hover: #666666;
    --tab-selected: rgb(129, 174, 219);
}

html {
    height: 100%;
}

body {

    height: 100%;

    margin: 0;
    padding: 0;

    font-family: "Twemoji Country Flags", "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;

    background-color: black;
    // background: url("../img/bg.jpg");
    // background-repeat: repeat;
    color: var(--primary-fg-color);

    overflow-x: hidden;
}

#background {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    // mask-image: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.9));
}

#background-mask {
    position: absolute;
    /* z-index: -1; */
    width: 100%;
    height: 100%;
    min-height: 100%;
    left: 0;
    top: 0;
    /* background-color: linear-gradient(black, #00000000); */
    background: linear-gradient(black, transparent);
}


label,
a {
    cursor: pointer;
    user-select: none;
    text-decoration: none;
    display: inline-block;
    color: inherit;
    transition: border 0.2s;
    border-bottom: 5px solid rgba(#8e44ad, 0.2);
    padding: 3px 2px;

    &:hover {
        border-bottom-color: #9b59b6;
    }
}

.layout {
    position: relative;
    display: grid;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    grid-template-rows: 50px 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

input[type="radio"] {
    display: none;
}

.nav-icon {
    font-family: "Material Symbols Outlined"
}

label.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-bottom: 2px solid #67bfdd;
    background: var(--accent-bg-color);
    user-select: none;
    color: var(--accent-fg-color);
    transition: background 0.4s, padding-left 0.2s;
    padding-left: 0;

    input[type="radio"]:checked+.page+& {
        background: #545f75;
        color: #ffffff;
        padding-left: 20px;

        span {
            padding-left: 20px
        }

        .nav-icon {
            opacity: 1;
        }
    }

    span {
        padding-left: 0px;
        position: relative;
    }

    .nav-icon {
        // left: 0;
        // top: -3px;
        // position: absolute;
        // width: 15px;
        opacity: 0;
        transition: opacity 0.2s;
    }
}

.page {
    grid-column-start: 1;
    grid-row-start: 2;
    grid-column-end: span 4;
    padding: 0px 20px;
    display: flex;
    align-items: start;
}

.page-contents>* {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.2s, transform 0.2s;

    @for $c from 1 through 20 {
        &:nth-child(#{$c}) {
            transition-delay: 0.2s + ($c * 0.2s);
        }
    }
}

input[type="radio"]+.page {
    transition: transform 0.2s;
    transform: translateX(100%);
}

input[type="radio"]:checked+.page {
    transform: translateX(0%);

    .page-contents>* {
        opacity: 1;
        transform: translateY(0px);
    }
}

.page-contents {
    max-width: 100%;
    width: 500px;
    margin: 0 auto;
    padding: 16px 4em;
    background-color: black;
    mask-image: linear-gradient(90deg, transparent, black 10%, black 90%, transparent);
}

#page-portfolio {
    width: 90%;


}

#filters {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2px;
}

.icon-header {
    display: flex;
    align-items: center;
    gap: 0.5em;



    span {
        font-family: "Material Symbols Outlined"
    }
}

h1.icon-header {
    border-bottom: 2px solid var(--accent-fg-color);
    padding-bottom: 8px;
}



#skills-entries li {
    list-style-type: none;
    display: grid;
    grid-template-columns: 2em 1fr 100px auto;
    grid-template-rows: 1fr;
    align-items: center;
    gap: 2px;
    margin: 1px 0;
}

#skills-entries ul {
    margin: 0;
    padding: 0;
}

.skill-icon {
    font-size: 1.5em;
}

.skill-label {
    flex-grow: 1;
}

.skill-rating {
    // font-family: "Material Symbols Outlined";
    // font-size: 24px;
    color: yellow;
}

.skill-rating-empty {
    color: grey;
}



.job-years {
    margin-right: 0.5em;
}

.job-years:after {
    content: ':';
}

.history-page h2:has(+ .timelined) {
    margin-bottom: 4px;
}

.timelined {
    height: 40px;
}


$max-tab-count: 5;
$tab-wrap-border-radius: 6px;



.tab-wrap {
    transition: 0.3s box-shadow ease;

    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    list-style: none;
    // background-color: #3b0707;
    margin: 40px 0;
    // box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

    &:hover {
        // box-shadow: 0 12px 23px rgba(0, 0, 0, 0.23), 0 10px 10px rgba(0, 0, 0, 0.19);
    }
}


.tab {
    display: none;

    @for $i from 1 through $max-tab-count {
        &:checked:nth-of-type(#{$i})~.tab__content:nth-of-type(#{$i}) {
            opacity: 1;
            transition: 0.5s opacity ease-in, 0.8s transform ease;
            position: relative;
            top: 0;
            z-index: 100;
            transform: translateY(0px);
            text-shadow: 0 0 0;
        }
    }

    &:first-of-type:not(:last-of-type)+label {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    &:not(:first-of-type):not(:last-of-type)+label {
        border-radius: 0;
    }

    &:last-of-type:not(:first-of-type)+label {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    &:checked+label {
        background-color: var(--tab-selected);
        // box-shadow: 0 -1px 0 #fff inset;
        cursor: default;

        &:hover {
            // box-shadow: 0 -1px 0 #fff inset;
            background-color: var(--tab-selected);
        }
    }

    +label {
        // box-shadow: 0 -1px 0 #eee inset;
        cursor: pointer;
        display: block;
        text-decoration: none;
        color: white;
        flex-grow: 3;
        text-align: center;
        background-color: var(--tab-bg);
        user-select: none;
        text-align: center;
        transition: 0.3s background-color ease, 0.3s box-shadow ease;
        height: 50px;
        box-sizing: border-box;
        padding: 15px;

        &:hover {
            background-color: var(--tab-hover);
            // box-shadow: 0 1px 0 #f4f4f4 inset;
        }
    }

    &__content {
        padding: 10px 25px;
        background-color: transparent;
        position: absolute;
        width: 100%;
        z-index: -1;
        opacity: 0;
        left: 0;
        transform: translateY(-3px);
        border-radius: $tab-wrap-border-radius;
    }
}